* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
/*Header section start*/
.bcg-image {
  width: 100%;
  background-image: url("images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 808px;
}
.banner-article {
  width: 525px;
  text-align: right;
  padding-top: 216px;
  padding-left: 1200px;
}
.banner-article h3 {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
}
.banner-article p {
  font-size: 16px;
  color: #ffffff;
  margin-top: 24px;
}
.primary-button {
  font-size: 20px;
  color: #005fac;
  padding: 20px 25px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  margin-top: 24px;
}
/*Header section end*/

/*success-section start*/
.success-section {
  margin: 200px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.success-story h3 {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}
.success-story article {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 20px;
}
.success-story ul li {
  list-style: none;
  display: flex;
}
.fa-check {
  color: greenyellow;
  margin-right: 5px;
}
.success-story {
  margin-left: 100px;
}
/*success-section end*/

/*about-me -section start*/
.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 200px;
}
.image-gallery img {
  width: 150px;
}
.myself {
  margin-right: 200px;
}
.myself h2 {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}
.myself p {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 20px;
  text-align: justify;
}
/*about-me -section end*/

/*planning section start*/
.my-plan {
  margin: 200px 185px;
}
.plan-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin: 50px;
  text-align: center;
}
.plannings {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.skill {
  text-align: center;
}
.skill h4,
p {
  padding-top: 10px;
}

/*planning section end*/
